@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  body {
    background-image: url(./assets/images/alina-grubnyak-tEVGmMaPFXk-unsplash.jpg);
    background-position: top;
    background-size:  ;
    background-repeat: no-repeat;
    @apply text-gray-100 text-xs;
  }

}