@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  body {
    background-position: top;
    background-size:  ;
    background-repeat: no-repeat;
    @apply text-blue-700 text-2xl;
  }

}